/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body{
    padding: 0px;
    margin: 0px;
    background-color: #039F9A;
    
    
    
}
a{
    text-decoration: none;
}
.container{
    /* margin-top: 50px; */
    padding-left: 50px;
    padding-right: 50px;
    /* margin-right: 50px; */
    
    
    
   
    padding-bottom: 50px;
}
.row{
    margin-top: 50px;
    
}

.first-div{
    width: 100%;
    
    height: -webkit-max-content;
    
    height: -moz-max-content;
    
    height: max-content;
    background-color: rgb(255, 255, 255);
}
.shadow{
    width: 100%;
    height: 91px;
}

.header{
    height: 91px;
    position: fixed;  
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.last-container{
    padding-top: 0px;
    background-color: rgb(0, 0, 0) ;
    
}
.fav{
    width: 100%;
  
    
}
.contact{
    font-size: 48px;
    font-family: cursive;
    color: #292929;
    text-align: center;
}
.navbar-toggler-icon



.contact-item{
    width: 100%;
    
    background-color: rgb(255, 255, 255);
}


.logo{
    width: 66px;
    height: 71px;
    margin-right: 200px ;
}

.nav-item{
    margin-right: 15px;
}
.navbar{
    
  margin-left: 10%;
  margin-right: 10%;
 
  
}
.fa-bars{
    color: bisque;
    padding-right: 0px;
    font-size: 20px;
}
.logo{
    margin-top: -5px;
}
.navbar-nav{
    margin-top: 15px;
}
.register-button{
    width: 145px;
    height: 39px;
    font-size: 15px;
    font-family: sans-serif;
    margin-top: -10px;
    color: #fff;
    background-color:#039f9A;
    border-radius: 25px;
    border: 0px;
}
.register-button:hover{
    width: 155px;
    height: 49px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-top: -20px;
    background-color:#fff ;
    color: black;
    
}

.nav-link{
    color: #A4A9AA;
    font-size:17px ;
    font-family: sans-serif;
    text-align: center;
    margin-top: -10px;
}
.nav-link:hover{
    color: #fff;
    font-size:17px ;
    
}
.pm{
    font-size: 48px;
    color: #292929;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: -30px;
    margin-bottom: 50px;
}
.name{
    font-size: 28px;
    color: #292929;
    font-family: sans-serif;
    text-align: center;
}
.profile-btn{
    width: 216px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
   padding: 10px 20px;
    border: 2px solid #039f9A;
    border-radius: 10px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    
}

.edit{
    font-size:16px ;
    color:#039f9A ;
    margin-right: 10px;
}

.profile-edit{
    padding: 0px;
    margin: 0px;
    color:#039f9A ;
    font-size:15px ;
}



.fav-img{
    height: 150px;
    margin-top:20px;
   
    
   
    filter: grayscale(100%);
    background-size: cover;
    border-radius: 20px;
    padding-top: 55px;
    background-image: url(image/house.jpg);
    background-position: center;
    
    cursor: pointer;
    
}
.fav-img:hover{
    filter: grayscale(0%);
    transition: 0.3s;

}


.fav-container{
    padding: 20px;
    
    background-color: blanchedalmond;
    /* margin-right: 40px; */
    
    border-radius: 20px;
}

.fav-img-p{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-align: center;
    border: 2px solid #fcfcfc ;
    color: rgb(245, 245, 245);
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;


}
.fav-bina{
    margin-top: 20px;
    
    /* margin-left: 10px; */
    border-radius: 20px;
    
}
.bina-255{
    font-size:28px ;
    color: #292929;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}
.kv-m{
    font-size:20px ;
    color: #039f9A;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}
.fav-bina-button{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-align: center;
    border: 1px solid #000000 ;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
}

.icon-story{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    /* margin-bottom: 5px; */
}
.icon{
    font-size: 25px;
    height: auto;
    color: #039f9A;
}
.icon:hover{
    color: #000000;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.icon-txt{
    font-size: 14px;
    height: auto;
    color: #039f9A;
    margin-top: 10px;
    margin-left: 20px;
}
.icon-txt:hover{
    color: #000000;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;

}
.icon-div{
    /* margin-left: 30px; */
    margin-top: 10px;
}
.line{
    width:90% ;
    height: 1px;
    background-color: #A4A9AA ;
}
.icon-2{
    font-size: 25px;
    height: auto;
    color: #FFA82D;
}
.icon-txt-2{
    font-size: 14px;
    height: auto;
    color: #FFA82D;
    margin-top: 10px;
    margin-left: 20px;
}
.icon-txt-2:hover{
    color: #000000;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;

}
.icon-2:hover{
    color: #000000;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.contact-item{
    background: #fff;
    margin-top: 10px;
}
 .contact-box{
     
     margin-bottom: 20px;
     /* margin-right: 20px; */
     border-radius: 20px;
     padding: 10px;
     border: 1px solid #DEEAEB;

    
 }
 .icon-duo{
     color: #fff;
     border-radius: 20px;
     background: #039f9A;
     padding: 5px 5px 5px 5px;
     margin-right: 10px;
     margin-top: 5px;
     font-size: 20px;
     
 }
 .icon-duo:hover{
     font-size: 30px;
    color: #fff;
    border-radius: 20px;
    background: #039f9A;
  
 }
 .anagi{
    font-size: 19px;
    font-weight: bolder;
    margin-bottom: 10px;
 }
 .name-2{
    font-size: 17px;
    margin-bottom: 5px;

 }
 .manager{
    font-size: 16px;
    color:#039f9A ;
 }
 
.date{
    font-size:19px ;
    color:#039f9A ;
    font-weight: bold;
    margin-bottom: 2px;
}
.time{
    font-size:16px ;
    color:#FFA82D ;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}
.logo-area{
    width: 50%;
    height: auto;
}



.row{
    padding-top: 0px;
    margin-top: 0px;
    
}
.icon-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   margin-top: 40px;
}
.list-icon-1{
    font-size: 100%;
    padding-right: 114px;
    padding: 4px;
    background:#333333 ;
    border-radius: 5px;
    color: rgb(255, 255, 255) ;
    margin: 0px;
   

}
.list-icon-1:hover{
background:#ffffff ;
color: rgb(8, 2, 32);
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
}
.icon-a{
    margin-right: 15px;
}
.get-start{
    font-size:18px ;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
.tutorials{
    font-size:13px ;
    color: rgb(102, 99, 99);
    margin-top: 5px;
    margin-bottom: 0px;

}
.get-1{
   margin-right: 10px;
   margin-left: 10px;
   
}
.last-box{
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 100px;

}
.div-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.area-expo{
   padding: 0px;
}
.all{
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    font-size: 12px;
    color: #fff;
}
.all-1{
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
    margin-right: 10px;

    font-size: 12px;
    color: #fff;
    
    
}



